.greetingDiv {
    border-bottom: 1px solid #000000;
}

.wrapper {
    font-family: sans-serif;
    display: flex;
    height: 100%;
}

.tabBar{
    border-collapse: collapse;
    width: 100%;
    background-color: #f4f4f5;
}


.tabBar,.tabBar th,.tabBar td {
    /* border: 1px solid black; */
    border-right: 0;
    border-left: none;
}

.tabBar th {
    height: 100px;
    color: black;
    /* background-color: white; */
    vertical-align: center;
}

.greetingLabel {
    margin: auto;
    margin-left: 10px;
}


.tabBar th,.tabBar td {
    padding: 1em;
    text-align: left;
}

.tabBar tr {
    cursor: pointer;

}

.Function-Buttom:hover {
    background-color: #c4c4c4;
    color: #1759BB;
    
}

.Function-Buttom:active {
    background-color: #c4c4c4;
    color: #1759BB;
    
}

.navigationCol {
    width: 20%;
    height: 800px;
    /* border: 1px solid black; */
    border-bottom: 0;
    background-color: #f4f4f5;

}

.infoPanel {
    /* border: 1px solid black; */
    /*flex-grow: 2;*/
    width: 80%;
    position:relative;

}

#signOutBtn {
    background-color: #C4C4C4;
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
    /*margin-top:30px;*/
    margin: 18em auto 3em 6em;


}

.imgBtn {
    cursor: pointer;
}

.titleDiv {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.titleDiv h1 {
    display: inline-block;
    /*float: left;*/
}


.mainPageBtn {
    float: right;
}

.formDiv {
    border: 2px solid black;
    padding: 30px;
    /*width: 70%;*/
    margin-left: 20px;
}

.formDiv input {
    /*margin: 30px;*/
    padding: 8px;
    width: 200px;
    background: #F0F0F0;
    outline: none;
    border: 1px solid grey;


}

#lastnamelbl {
    margin-left: 20px;
}

#profileEmail {
    width: 72%;
}

.btnGroup {
    margin-top: 50px;
    width: 80%;
    text-align: center;
    margin-left: 30px;
    /*border: 1px solid black;*/

}

.btnGroup button {
    cursor: pointer;
    padding: 1em 2em;
    margin: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: medium;
    display: inline-block;
}

.container {
    margin: 25px;
    /* border: 2px solid black; */
    padding: 30px;

}

#updateBtn {
    background-color: #9AADB4;
}

#updateBtn:hover {
    background-color: #f5f5f5;
}

#cancelBtn {
    background-color: #EEEEEE;
}

#cancelBtn:hover {
    background-color: #f5f5f5;
}

.active {
    background: #c4c4c4
  }

.copyrightUserPage {
    /* text-align: center; */
    font-size: small;
    color: gray;
    position:absolute;
    bottom:0;
    left: 30%;
}


header {
    background-color: #C4C4C4;
  
  }
  
.titleDiv {
display: inline-block;
width: 30%;
}


.top-right-div {
display: inline-block;
vertical-align: middle;
/* text-align: right; */
float:right;
margin-top: 17.44px;
margin-right: 30px
}

#cartButton {
cursor: pointer;
height: 40px;
}


.stateButtons {
margin: auto auto auto 0.67em;
cursor: pointer;
padding-bottom: 3px
}